@import '../../sass/main.scss';

.Header{

    display: flex;
    justify-content: space-between;
    position: relative;
    top: 2.7rem;
    max-width: 87%;
    height: 8rem;
    margin: 0 auto;
    img{
        height: 50%;
        @media screen and (max-width: 700px){
            height: 30px;
        }
    }
}
