@import '../../sass/main.scss';

.footer {
    @include Display(column);
    gap: 4rem;
    width: 100%;
    height: 17rem;
    background-color: black;
    &_copyright {
      color: $color-primary;
    }
  }
  