@import '../../sass/main.scss';

.About{
    width: 100%;
   .collapse{
        margin: 3rem auto;
        @media screen and (max-width: 600px){
            margin: 20px auto;
        }
    }
}