@import '../../sass/main.scss';

.collapse{
    background-color: $color-tertiary;
    max-width: 1200px;
    margin: 0 auto;
    &_title{
        @include Display(row, space-between, center);
        background-color: $color-secondary;
        color: $color-primary;
        border-radius: 0.7rem;
        font-weight: 100;
        padding: 0.9rem 1.5rem;
        cursor: pointer;
        .arrow{
            transition: all 0.5s ;
          }
        .arrow_down{
            transform: rotate(180deg);
        }
    }
    &_content{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        opacity: 1;
        padding: 1.1rem;
        color: $color-secondary;
        transition: visibility 0.5s ease-in-out,
                    opacity 0.7s ,
                    height 0.4s;
    }
    &_content_hidden{
        opacity: 0;
        height: 0;
    }
}

