@import '../../sass/main.scss';
$color-tertiary : #F7F7F7;

.Gallery{
    @include Display;
    flex-wrap: wrap;
    background-color: $color-tertiary;
    padding: 3%;
    gap: 2.7rem;
    width: 100%;
}


  